* {
  box-sizing: border-box;
}

:root {
  --color-fondo: rgb(255, 255, 153);
  --color-claro: rgb(146, 146, 0);
  --color-oscuro: rgb(0, 0, 0);
}

html {
  background-color: var(--color-fondo);
}
body {
  text-align: center;
  font-size: large;
}
h1 {
  font-size: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 5px 5px 10px var(--color-claro);
}



#listaTareas {
  border: 5px solid var(--color-oscuro);
  list-style-type: none;
  background-color: var(--color-claro);
  box-shadow: 10px 10px 10px var(--color-claro);
  position: relative;
  width: 50%;
  left: 25%;
  color: var(--color-oscuro);
}

input[type="checkbox"] {
  border-radius: 150px;
}

button {
  cursor: pointer;
}

fieldset {
  margin-right: 10px;
  width: 50%;
  position: relative;
  left: 25%;
  border-color: var(--color-oscuro);
  border-radius: 12.5px;
  box-shadow: 10px 10px 10px var(--color-claro);
}

ul {
  list-style-type: none;
}

li {
  position: relative;
  right: 5%;
}

/* input:focus,
input:hover {
  background-color: var(--color-oscuro);

button {
  padding: 0.3rem;
  background-color: var(--color-claro);
  border-radius: 25px;
}

button:hover {
  background-color: var(--color-oscuro);
  color: var(--color-claro);
}
